body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  font-weight: bold;
}

h1 {
  font-size: 5.625rem;
  /* 100% = 16px = 1em */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: dotted none none;
  border-width: thick;
  width: 4%;
  border-color: #d4d7dd;
}

p{
    line-height: 2;
}

a {
  margin: auto 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.proggramer {
  font-weight: normal;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  margin-bottom: 10px;
}

.middle-container {}

.bottom-container {
  background-color: #66BFBF;

}



.copyright{
  color: #EAF6F6;
  font-size: x-small;
  margin: 0;
  padding-bottom: 30px;
}

.contactways{
  padding-top: 30px;
  padding-bottom: 30px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.web-dev-skill-pic {
  width: 20%;
  height: auto;
  border-style: solid;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.fifa-skill-pic {
  width: 20%;
  height: auto;
  border-style: solid;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}

.matan-img {
  margin-top: 50px;
  width: 10%;
  border-style: solid;
  border-radius: 100%;
}

.aboutme {
  width: 30%;
  margin: 50px auto 75px auto;
  line-height: 2;
}

.skills {
  margin: 75px auto 75px auto;
}

.contact-me {
  margin: 75px auto 75px auto;
}

.getintouch-description {
  margin: 50px auto 75px auto;
  width: 30%;
  line-height: 2;
}

.cnt-button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  background-color: #66BFBB;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
